<rz-content #content1 container="main">
  <rz-heading #pageTitle size="H1" text="Exclusion Date">
  </rz-heading>
  <div class="row">
    <div class="col-md-12">
      <rz-grid #grid0 addText="Add" [allowAdd]="true" [allowDelete]="true" [allowFiltering]="true" [allowMultiSorting]="false" [allowPaging]="true" [allowSorting]="true" applyFilterText="Apply" clearFilterText="Clear" [confirmDelete]="true" confirmDeleteCancelText="Cancel" confirmDeleteOkText="Ok" confirmDeleteText="Are you sure you want to delete this record?" confirmDeleteTitle="Confirmation" containsText="Contains" [count]="getStateExclExclusionDatesCount" [data]="getStateExclExclusionDatesResult" emptyText="No records to display." endsWithText="Ends with" equalsText="Equals" greaterThanOrEqualsText="Greater than or equals" greaterThanText="Greater than" lessThanOrEqualsText="Less than or equals" lessThanText="Less than" notEqualsText="Not equals" startsWithText="Starts with" (add)="grid0Add($event)" (delete)="grid0Delete($event)" (loadData)="grid0LoadData($event)" (rowSelect)="grid0RowSelect($event)">
        <rz-grid-column filterProperty="StateExclExclusion.ExclusionName" property="StateExcl_ExclusionId" sortProperty="StateExclExclusion.ExclusionName" title="Exclusion" type="string">
          <ng-template let-data gridColumnTemplate>
          {{data?.StateExclExclusion?.ExclusionName}}
          </ng-template>
        </rz-grid-column>
        <rz-grid-column format="date-time" formatString="shortDate" property="ExclusionDate" title="Exclusion Date" type="string">
        </rz-grid-column>
      </rz-grid>
    </div>
  </div>
</rz-content>
