<rz-content #content1 container="main">
  <div class="row">
    <div class="col-md-12">
      <rz-form #form0 [data]="exclusiondate" *ngIf="exclusiondate" (cancel)="form0Cancel($event)" (submit)="form0Submit($event)" (loadData)="form0LoadData($event)">
        <rz-date-form-field property="Date" [required]="true" title="Date" requiredText="is required" type="date">
        </rz-date-form-field>
        <rz-lookuppopup-form-field [data]="getExclusionsForExclusionIdResult" property="ExclusionId" [required]="true" textProperty="ExclusionName" title="Exclusion" valueProperty="Id" placeholder="Choose Exclusion" [count]="getExclusionsForExclusionIdCount" [pageSize]="getExclusionsForExclusionIdPageSize" [value]="getByExclusionsForExclusionIdResult" requiredText="is required" type="lookuppopup">
        </rz-lookuppopup-form-field>
      </rz-form>
    </div>
  </div>
</rz-content>
